.boxAttn {
    background-color: #f7f7f7;
    padding: 20px;
    width:50%;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .attndence-fluid {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
  }
  
  h1 {
    margin-bottom: 20px;
    text-align: center;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    font-weight: bold;
  }
  
  input[type='text'] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold;
  }
  
  button[type='submit'] {
    background-color: #28a745;
  }
  
  